body{
    background-color: #212529;
    color: white
}
.bg-light-dark{
    background-color: #2B3035;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}